<div class="card" data-exclude="xs">
  <div class="card-header card-header bordered">
    <div class="header-block">
      <h3 class="title">StaffManagement</h3> </div>
    <ul class="nav nav-tabs pull-right">
      <li class="nav-item">
        <a linkActive="active" class="nav-link" linkTo="{{base}}"><span class="menu-icon fa fa-tachometer"> Dashboard</span></a>
      </li>
      <li class="nav-item">
        <a linkActive="active" [activeOptions]="{ exact: false }" class="nav-link" linkTo="{{base}}/teachers"><span class="menu-icon fa fa-calendar"> Teachers</span></a>
      </li>
    </ul>
  </div>
  <div class="card-block">
    <route-view></route-view>
  </div>
</div>
