<div class='row'>
<a linkTo="/dashboard/years/new" class="btn  btn-primary pull-right"><i class="fa fa-plus fa-1x" aria-hidden="true"></i></a>
<table class="table">
  <thead>
    <th>Name</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th colspan="2"></th>
  </thead>
  <tbody>
    <tr *ngFor="let year of years">
      <td>{{year.name}}</td>
      <td>{{year.start_date}}</td>
      <td>{{year.end_date }}</td>
      <td>
        <a linkTo="/dashboard/years/{{year.id}}" class="btn btn-xs btn-primary"><i class="fa fa-pencil fa-1x" aria-hidden="true"></i></a>
      </td>
      <td>
        <button (click)="delete(year, $event)" class="btn btn-xs btn-danger"><i class='fa fa-trash'></i></button>
      </td>
    </tr>
  </tbody>
</table>
</div>
