<div *ngIf="studentGroup">
  <ng2-toasty></ng2-toasty>
  <form>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="middle_name">Exam Period</label>
          <select [(ngModel)]="examPeriod.id" name="exam_period" class="form-control">
            <option *ngFor="let examPeriod of examPeriods" value="{{examPeriod.id}}">
              {{examPeriod.label}}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="middle_name">Subject</label>
          <select [(ngModel)]="classRoomSubject.id" name="subject_id" class="form-control">
            <option *ngFor="let classRoomSubject of classRoomSubjects" value={{classRoomSubject.id}}>
              {{classRoomSubject.name}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <button class="btn btn-primary" (click)="onChange()"> Enter Marks</button>
  </form>
  <div *ngIf="examPeriod && classRoomSubject">
    <form class="table" [formGroup]="resultForm">
      <h3>Marks for {{classRoomSubject.name}}#{{examPeriod.label}}</h3>
      <table>

        <tr *ngFor="let ctrl of resultForm.controls['results'].controls; let i = index" [formGroup]="ctrl">
          <input hidden formControlName="student_id">
          <input hidden formControlName="class_room_subject_id">
          <input hidden formControlName="exam_period_id">
          <input hidden formControlName="student_group_id">
          <td>
            <input class="form-control" disabled formControlName="name" placeholder="No Name">
          </td>
          <td>
            <input class="form-control" formControlName="marks" placeholder="marks">
          </td>
          <td>
            <input class="form-control" formControlName="points" placeholder="points">
          </td>
          <td>
            <input class="form-control" formControlName="comments" placeholder="comments">
          </td>
        </tr>
      </table>
      <button type="button" class="btn btn-success" (click)="saveResults()">Save</button>
    </form>
  </div>
</div>
