<div class='row'>
  <a linkTo="/dashboard/grading-levels/new" class="btn  btn-primary pull-right"><i class="fa fa-plus fa-1x" aria-hidden="true"></i></a>
<table class="table">
  <thead>
    <th>Name</th>
    <th>Marks From</th>
    <th>Marks To</th>
    <th>Points</th>
    <th>Comments</th>
    <th colspan="2"></th>
  </thead>
  <tbody>
    <tr *ngFor="let gradingLevel of gradingLevels">
      <td>{{gradingLevel.name}}</td>
      <td>{{gradingLevel.marks_from}}</td>
      <td>{{gradingLevel.marks_to }}</td>
      <td>{{gradingLevel.points }}</td>
      <td>{{gradingLevel.comments }}</td>
      <td>
        <a linkTo="/dashboard/grading-levels/{{gradingLevel.id}}" class="btn btn-xs btn-primary"><i class="fa fa-pencil fa-1x" aria-hidden="true"></i></a>
      </td>
      <td>
        <button (click)="delete(examPeriod, $event)" class="btn btn-xs btn-danger"><i class='fa fa-trash'></i></button>
      </td>
    </tr>
  </tbody>
</table>
<div>
